<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robert.smartbi.demo.mapper.DataSourceMapper">

    <resultMap id="BaseResultMap" type="com.robert.smartbi.demo.model.entity.DataSource">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="dbUrl" property="dbUrl" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="datasourceType" property="datasourceType" jdbcType="VARCHAR" />
        <result column="userId" property="userId" jdbcType="BIGINT" />
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="isDelete" property="isDelete" jdbcType="TINYINT" />
    </resultMap>

    <sql id="Base_Column_List">
        id, name, dbUrl, username, password, datasourceType, userId, createTime, updateTime, isDelete
    </sql>

    <!-- 其他 SQL 映射语句，例如查询、插入、更新、删除等 -->
</mapper>
